<launch>
    <arg name="port" default="0" />
    <arg name="js_mode" default="0" />
    <node pkg="joy" type="joy_node" name="Joypad">
        <param name="dev" type="string" value="/dev/input/js$(arg port)" />
    </node>
    <node pkg="donatello" type="GamePad.py" name="GamePad" output="screen">
        <param name="js_mode" type="int" value="$(arg js_mode)" />
    </node>
</launch>